---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    let slugString: string;
    if (Array.isArray(post.slug)) {
      slugString = post.slug.join("/");
    } else if (typeof post.slug === "string") {
      slugString = post.slug;
    } else {
      slugString = "";
    }
    return {
      params: { slug: slugString },
      props: post,
    };
  });
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main class="prose prose-zinc lg:prose-lg mx-auto md:px-6">
    <header class="mb-10">
      <h1 class="mb-2 text-3xl font-semibold">{post.data.title}</h1>
      <p class="text-sm text-zinc-600">
        {formatDate(post.data.date)}
        {
          typeof post.data.category === "string" &&
            post.data.category.trim() !== "" && (
              <>
                {" "}
                &middot; Filed under:
                <a
                  href={`/categories/${post.data.category.toLowerCase()}`}
                  class="ml-1 underline hover:text-fuchsia-600"
                >
                  {post.data.category}
                </a>
              </>
            )
        }
      </p>
    </header>

    <article class="mb-8"><Content /></article>

    {
      Array.isArray(post.data.tags) && post.data.tags.length > 0 && (
        <footer class="mt-8 border-t pt-4">
          <p class="text-sm text-zinc-600">
            <strong>Tags:</strong>
            {post.data.tags.map((tag) => (
              <a
                href={`/tags/${typeof tag === "string" ? tag.toLowerCase() : ""}`}
                class="ml-2 hover:text-fuchsia-600 hover:underline"
              >
                #{tag}
              </a>
            ))}
          </p>
        </footer>
      )
    }
  </main>
</BaseLayout>
